#title-bar {
  --title-bar-button-color: #fff;
  --title-bar-button-bg: #dbdbdb;
  --height: 28px;
  height: var(--height);
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: var(--height);
  user-select: none;

  #buttons {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;

    .button {
      height: var(--height);
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: var(--title-bar-button-bg);
      }
    }

    .close {
      &:hover {
        color: var(--title-bar-button-color);
        background-color: #dc1616;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  #title-bar {
    --title-bar-button-bg: #424242;
  }
}
